@import "tailwindcss";

:root {
    --primary-background: var(--color-gray-50);
    --secondary-background: var(--color-zinc-50);
    --primary-foreground: #171717;
    --secondary-foreground: #525252;
}

@theme inline {
    --color-primary-background: var(--primary-background);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-background: var(--secondary-background);
    --color-secondary-foreground: var(--secondary-foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background: var(--color-black);
        --secondary-background: #111;
        --primary-foreground: #ededed;
        --secondary-foreground: #525252;
    }
}

body {
    background: var(--primary-background);
    color: var(--primary-foreground);
    font-family: var(--font-geist-sans);
}
